!!!
%html
  %head
    %title ilancecustomization
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .navbar.navbar-default.navbar-fixed-top
      #header.container
        %ul.nav.navbar-nav.navbar-right
          %li
            = link_to 'HOME', root_path
          %li
            = link_to 'SIGN UP', new_user_registration_path
          %li
            = link_to 'SIGN IN', new_user_session_path
    #main-content.container
      #banner.page-header
        = yield
    #footer.container
      = render 'layouts/footer'